<div id="myDIV">
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(105, 10, 10)">
    <a class="navbar-brand" href="/">Food Searcher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="form">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="searchhistory">Search History</a>
        </li>
      </ul>
    </div>
  </nav>
</div>